:root {
  --shadow: 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
  --radius: 3px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}

body.light {
  --very-dark-blue: hsl(200, 15%, 8%);
  --very-light-gray: hsl(0, 0%, 98%);
  --dark-gray: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);
}

body.dark {
  --very-dark-blue: hsl(0, 0%, 100%);
  --very-light-gray: hsl(207, 26%, 17%);
  --dark-gray: hsl(0, 0%, 52%);
  --white: hsl(209, 23%, 22%);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 1rem 0;
  border: 1px solid var(--white);
  font-size: 1em;
  background: var(--white);
  color: inherit;
}

img {
  display: inline-block;
  width: 100%;
}

button {
  padding: 0.5em 1.25rem;
  border: 1px solid var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: inherit;
  background: var(--white);
  cursor: pointer;
}

theme-mode {
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
  box-shadow: var(--shadow);
  background: var(--white);
}

.navbar,
main,
.countries__filters {
  margin-bottom: 3em;
}

@media only screen and (max-width: 800px) {
  .navbar {
    margin-bottom: 2em;
  }

  .navbar h1 {
    font-size: 1em;
  }
  .navbar theme-mode {
    font-size: 0.75em;
  }

  .countries__filters {
    gap: 2em;
    margin-bottom: 2em;
  }

  .country__title {
    font-size: 1.25em;
  }

  .country__details {
    font-size: 0.85em;
  }
}

main {
  padding: 1em;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.countries {
  font-size: 14px;
}

.countries__filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input {
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: stretch;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  overflow: hidden;
}

.input input {
  width: 100%;
}

.input__icon {
  padding: 1em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.input__icon ion-icon {
  font-size: 1rem;
  color: var(--dark-gray);
}

.country-items {
  display: grid;
  row-gap: 40px;
  justify-content: center;
}

.country-item {
  max-width: 300px;
  min-width: 250px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: var(--shadow);
  border-radius: var(--radius);

  background-color: var(--white);
}

.country-item img {
  height: 200px;
  object-fit: cover;
}

.country-item__details {
  margin: 15px 25px 50px 25px;
}

.country-item__details h2 {
  margin-bottom: 15px;
}

.country-item__details ul > *:not(:last-child) {
  margin-bottom: 0.25em;
}

@media only screen and (min-width: 750px) {
  .country-items {
    grid-template-columns: repeat(2, max-content);
    gap: 80px;
  }
}

@media only screen and (min-width: 1150px) {
  .country-items {
    grid-template-columns: repeat(3, max-content);
  }
}

@media only screen and (min-width: 1440px) {
  .country-items {
    grid-template-columns: repeat(4, max-content);
  }
}

@media only screen and (min-width: 800px) {
  .country {
    display: flex;
    align-items: center;
    gap: 120px;
  }
}

.country__btn,
.country__img,
.country__details {
  margin-bottom: 3em;
}

.country__img {
  height: auto;
  max-width: 500px;
}

.country__title {
  margin-bottom: 0.75em;
}

.country__details > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.country__borders-title {
  margin-bottom: 1em;
}

.country__borders-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.select {
  position: relative;
  min-width: 200px;
  padding: 1em;
  border: 1px solid var(--white);
  border-radius: var(--radius);
  background: var(--white);
  box-shadow: var(--shadow);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.select.expand {
  overflow: visible;
}

.select::after {
  content: '‹';
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translate3d(-50%, -50%, 0) rotate(90deg);
}

.select.expand::after {
  transform: translate3d(-50%, -50%, 0) rotate(-90deg);
}

.select__options {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  padding: inherit;
  border-radius: inherit;
  background-color: inherit;
  box-shadow: var(--shadow);
}

.select__options > *:not(:last-child) {
  margin-bottom: 5px;
}
